@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
    align-items: stretch;
    width: 100%;
    transition: grid-template-columns .3s ease-in-out;
  }
  
  .grid-item {
    border-radius: 5px;
    overflow: hidden;
    filter: brightness(100%);
    transition: filter .4s ease-in-out;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
  }
  
  .grid-item:hover {
    filter: brightness(85%);
  }
  